<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>User Friendly Control Panel</h2>
    <div class="container grid grid--1x2 .block-showcase__content">
      <picture class="block-showcase__image">
        <source
          srcset="images/ipad.png 1x, images/ipad@2x.png 2x"
          type="image/png"
        />
        <source
          srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x"
          type="image/webp"
        />
        <img
          src="images/ipad@2x.webp"
          alt="our user friendly control panel shown on an ipad"
        />
      </picture>
      <ul class="list">
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="icons/sprite.svg#clock"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Media Title</h3>
              <div class="media__description">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae
                sint aperiam cupiditate ducimus aliquam blanditiis nobis, ullam
                maxime ut laboriosam dolorum ipsa dicta minus pariatur veritatis
                doloribus. Laboriosam voluptatibus voluptatum, ea incidunt vero
                dicta, corporis quod beatae quidem expedita unde nulla eos
                quisquam. Exercitationem saepe nulla quia aperiam totam at.
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="icons/sprite.svg#clock"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Media Title</h3>
              <div class="media__description">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae
                sint aperiam cupiditate ducimus aliquam blanditiis nobis, ullam
                maxime ut laboriosam dolorum ipsa dicta minus pariatur veritatis
                doloribus. Laboriosam voluptatibus voluptatum, ea incidunt vero
                dicta, corporis quod beatae quidem expedita unde nulla eos
                quisquam. Exercitationem saepe nulla quia aperiam totam at.
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="icons/sprite.svg#clock"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Media Title</h3>
              <div class="media__description">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae
                sint aperiam cupiditate ducimus aliquam blanditiis nobis, ullam
                maxime ut laboriosam dolorum ipsa dicta minus pariatur veritatis
                doloribus. Laboriosam voluptatibus voluptatum, ea incidunt vero
                dicta, corporis quod beatae quidem expedita unde nulla eos
                quisquam. Exercitationem saepe nulla quia aperiam totam at.
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </header>
</section>
