<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="icons/sprite.svg#clock"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Media Title</h3>
    <div class="media__description">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae sint
      aperiam cupiditate ducimus aliquam blanditiis nobis, ullam maxime ut
      laboriosam dolorum ipsa dicta minus pariatur veritatis doloribus.
      Laboriosam voluptatibus voluptatum, ea incidunt vero dicta, corporis quod
      beatae quidem expedita unde nulla eos quisquam. Exercitationem saepe nulla
      quia aperiam totam at.
    </div>
  </div>
</div>
