<div class="quote">
  <blockquote class="quote__body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa laborum
    cumque molestias distinctio nisi! Labore consectetur minima vitae nostrum
    quae.
  </blockquote>
  <footer>
    <div class="media quote__origin">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="icons/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Jhone Lumeo</h3>
        <div class="media__description quote__company">Mosh Company CEO</div>
      </div>
    </div>
  </footer>
</div>
